---
layout: home
---

{% if paginator.page %}
{% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
{% assign currentPage = paginator.page %}
{% else %}
{% assign offset = 0 %}
{% assign currentPage = 1 %}
{% endif %}

{% include header.html %}
<div class="c-posts o-opacity" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}
  <article class="c-post">
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">
          <span class="c-post-category">[{{ post.categories | first }}]</span>
          {{post.title}}
          {% unless post.categories contains 'k8s' %}
          <span class="c-post-date">({{ post.date | date: "%Y.%m.%d" }})</span>
          {% endunless %}
        </a>
      </h2>
      <p class="c-post-excerpt">
        {{ post.excerpt | strip_html | truncatewords: 30 }}
      </p>
    </div>
  </article> <!-- /.c-post -->
  {% endfor %}
</div> <!-- /.c-posts -->

{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %} <button class="c-load-more c-btn c-btn--middle">Load more posts</button>
  {% endif %}
  {% include categories.html %}