/* ===============
	CODE
=============== */

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

pre code {
  font-family: inherit;
  font-size: 100%;
  background-color: transparent;
  padding: 0;
  white-space: pre;
  border: 0;
}

p code,
li code {
  // Styles handled by generic code block above
}