/* ===============
	PRE
=============== */

pre {
  overflow: auto;
  padding: 16px;
  font-size: 14px;
  line-height: 1.45;
  white-space: pre;
  word-wrap: normal;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f6f8fa;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
}