/* ===============
	TABLES
=============== */

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  
  th,
  td {
    padding: 5px;
    border: 1px solid #000;
    text-align: left;
  }
  
  th {
    font-weight: 700;
    background-color: #f5f5f5;
  }
  
  tr:nth-child(even) {
    background-color: #fafafa;
  }
}
