---
layout: home # 기본 'home' 레이아웃을 상속받습니다. 필요시 'default' 등으로 변경 가능합니다.
---
{% include header.html %}

<div class="c-posts o-opacity">
  <h1 style="text-align: center; margin-bottom: 2rem;">
    <!--카테고리 제목 표시 -->
    Category: {{ page.title }}
  </h1> 
  
  {% assign category_posts = site.categories[page.category] %}
  {% if category_posts %}
    {% for post in category_posts %}
      <article class="c-post">
        {% if post.image %}
        {% assign bg_image_url = "/images/" | prepend: site.baseurl | append: post.image %}
        <a class="c-post-thumbnail" style="background-image: url('{{ bg_image_url }}')"
          href="{{ post.url | prepend: site.baseurl }}"></a>
        {% else %} {% endif %}
        <div class="c-post-content">
          <h2 class="c-post-title">
            <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
          </h2>
          <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
          <span class="c-post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
          <span class="c-post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus:
            250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>이 카테고리에는 아직 포스트가 없습니다.</p>
  {% endif %}
</div> <!-- /.c-posts -->
<!--페이지 하단에 전체 카테고리 목록을 다시 표시합니다.-->
{% include categories.html %}