/* ===============
	POST
=============== */

.c-posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  /* Reduced margin */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Center vertically */
  min-height: auto;
  /* Remove fixed height */
  border-radius: 5px;
  /* Smaller radius */
  overflow: hidden;
  transition: $global-transition;
  background-color: $white-color;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 5px 15px -5px rgba(10, 16, 34, .2)
  }

  /* Removed .c-post-thumbnail styles as it is removed from HTML */
  .c-post-content {
    padding: 15px 20px;
    /* Adjusted padding */
    width: 100%;

    .c-post-title {
      font-size: 18px;
      /* Reduced font size */
      font-weight: 400;
      margin: 0;
      white-space: nowrap;
      /* Ellipsis support */
      overflow: hidden;
      /* Ellipsis support */
      text-overflow: ellipsis;

      /* Ellipsis support */
      a {
        text-decoration: none;
        color: $blue-dark;
      }
    }

    /* Removed .c-post-date and .c-post-words styles */
  }
}

.c-load-more {
  padding: 20px;
  margin: 20px auto 40px;
  font-size: 13px;
  color: $white-color;
  border: none;
  background-color: $primary-color;
  outline: none;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}

@media only screen and (max-width: 1200px) {
  .c-post {
    width: 48%;
    max-width: 100%;
    margin: 0 1% 20px;
    flex-direction: column;

    .c-post-thumbnail {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }

    .c-post-content {
      width: 100%;

      .c-post-title {
        font-size: 21px;
        margin: 15px 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .c-post {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px;

    .c-post-content {
      width: 100%;

      .c-post-title {
        font-size: 21px;
        margin: 15px 0;
      }
    }
  }
}